<span style="text-align: left">
    first of I want to thank everyone who joined the RBE Network so far.<br><br>
We recently reached 250 advocates on the Network and the world map is quite filled already.<br><br>
In the recent weeks I concentrated my efforts mainly on the two first surrounding applications:<br><br>

<b><a href="https://mood.rbe-network.org">RBE Mood</a></b> - Continuous monitoring of the supporter base for better decisions<br><br><br>
<b><a href="https://events.rbe-network.org">RBE Events</a></b> - Listing all events occurring amongst supporters<br><br>
<br>
Please check them out and if you are particular interested in supporting one of those applications, let me know.<br><br>

So thank everyone again and invite your fellow supporters to generate a high quality 'inventory' of people
to start and keep going projects that drive us forward.<br><br>
<b>Best Regards</b><br>
// Robert Kessler
</span>