<hr>
<div class="row">
    <div class="col-xs-12">
        <div class="left desc">Invitation keys</div>
    </div>
    <div class="desc col-xs-12" style="margin-top: 0.75em">
        {% if registration_keys %}
            <table id="reg_key_table" class="table">
                <tr>
                    <th>Key</th>
                    <th>Email</th>
                    <th>Actions</th>
                </tr>
                {% for registration_key in registration_keys %}
                    <tr>
                        <td>{{ registration_key.key }}</td>
                        <td>{{ registration_key.email }}</td>
                        <td>
                            {% if not registration_key.used %}
                                <a href="{% url 'revoke' registration_key.id %}" class="btn btn-default"><span
                                        class="glyphicon glyphicon-remove"></span>Revoke</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </table>
        {% else %}
            No invitations!
        {% endif %}
    </div>
</div>
<div class="row">
    <div class="col-xs-4 col-xs-offset-8">
        <a href="{% url 'invite' %}">
            <button id="invite" class="btn btn-default btn-block">Invite</button>
        </a>
    </div>
</div>