{% extends 'base.html' %}
{% load static %}
{% get_static_prefix as STATIC_PREFIX %}

{% block header %}
    <link rel="stylesheet" type="text/css" href='/static/css/profile_cards.css'>
    <link rel="stylesheet" type="text/css" href='/static/css/profile.css'>
    {% if user == profile.user %}
        <link rel="stylesheet" type="text/css" href='/static/css/myprofile.css'>
    {% endif %}
    <script src="{% static 'js/profile.js' %}"></script>

    <style>
        .cnav-button:hover {
            background-color: #5aac56;
            color: #eee;
        }
        .cnav-button {
            background-color: #eee;
            color: #333;
            border-color: #eee;
            margin-top: 2px;
        }

        .cnav-button.active {
            background-color: #5aac56;
            color: #eee;
        }
        .explain {
            color: #7c7c7c;
            font-style: italic;
        }

    </style>
{% endblock %}

{% block content %}
    <div id="profile" class="container" style="text-align: center; width: 100%;">

    <div class="row">
        <div class="col-xs-12" >
            <ul >

            </ul>
        </div>
    </div>

        <div class="row">
            <div class="col-xs-12 col-sm-2 toppad">
                {% include 'profile/user/prf_picture.html' %}
                <div class="nav nav-pills toppad">
                    <a class='cnav-button btn btn-block active' href="#3b" data-toggle="tab">About</a>
                    <a class='cnav-button btn btn-block' href="#7b" data-toggle="tab">Location</a>
                    <a class='cnav-button btn btn-block' href="#2b" data-toggle="tab">Tags</a>
                    <a class='cnav-button btn btn-block' href="#4b" data-toggle="tab">Invitation</a>
                    <a class='cnav-button btn btn-block' href="#5b" data-toggle="tab">OpenId</a>
                    {% if user == profile.user %}
                        <a class='cnav-button btn btn-block' href="#8b" data-toggle="tab">Private</a>
                    {% endif %}
                </div>
            </div>
            <div class="col-xs-12 col-sm-10 toppad">
                <div class="tab-content clearfix">
                    <div class="tab-pane" id="2b">
                        {% include 'profile/user/prf_tags.html' %}
                    </div>
                    <div class="tab-pane active" id="3b">
                        {% include 'profile/user/prf_about.html' %}
                    </div>
                    <div class="tab-pane" id="7b">
                        {% include 'profile/user/prf_location.html' %}
                    </div>
                    <div class="tab-pane" id="4b">
                        {% include 'profile/user/prf_invitation.html' %}
                    </div>
                    <div class="tab-pane" id="5b">
                        {% include 'profile/user/prf_openid.html' %}
                    </div>
                    {% if user == profile.user %}
                        <div class="tab-pane" id="8b">
                            {% include 'profile/user/prf_private.html' %}
                        </div>
                    {% endif %}
                </div>
            </div>

        </div>


  </div>


    <script>
        $(document).ready(function () {

            $('.cnav-button').click(function(){
                $(this).parent().children().removeClass('active');
                $(this).addClass('active');
            });

            $('#my-account').addClass('active');
            $('#my-profile').addClass('active');
            {% if user == profile.user %}

                $('.tags').click(function () {
                    del_tag(this);
                });

                $('#add_tags').bind('keypress', function (e) {
                    if (e.keyCode == 13) {
                        e.preventDefault();
                        var text = $(this).val();
                        add_tag(text, $("#tags-container"));
                        $(this).val('');
                    }
                });

                $('#edit_about_me').click(function () {
                    $('#edit_about_me').hide();
                    $('#save_about_me').show();
                    $('#about_me_area').prop('disabled', false);
                });

                $('#save_about_me').click(function () {
                    $('#about_me_area').prop('disabled', true);
                    var new_about_me = $('#about_me_area').val();
                    $.ajax({
                        method: 'POST',
                        url: '{% url "profile_about_me_change" %}',
                        data: {
                            new_about_me: new_about_me,
                            csrfmiddlewaretoken: get_csrf_token()
                        }
                    }).done(function (msg) {
                        if (!msg['success']) {
                            swal('Error', 'Your about me text was not update!', 'error', 2000);
                        }
                        $('#edit_about_me').show();
                        $('#save_about_me').hide();
                    }).fail(function () {
                        swal('Error', 'There was a problem contacting the server!', 'error', 2000);
                        $('#edit_about_me').show();
                        $('#save_about_me').hide();
                    });
                });

                $("#user-picture-btn").click(function () {
                    $('#choose_file').click();
                });

                $("#choose_file").bind('change', function (event) {
                    upload_profile_image(event)
                });

                $('#refresh_location').click(function () {
                    if (navigator.geolocation) {
                        navigator.geolocation.getCurrentPosition(updateLocation);
                    }
                });

                $('#delete_location').click(function () {
                    clear_location();
                });

            {% endif %}
        });


    </script>


{% endblock %}