{% extends 'base.html' %}
{% load static %}
{% get_static_prefix as STATIC_PREFIX %}

{% block header %}
    <link rel="stylesheet" type="text/css" href='/static/css/profile_cards.css'>
         <style>
         .card .avatar, .card .info, .card .bottom {
            padding-left: 1em;
         }
         .card.hovercard {
             text-align: left;
         }
         .card .desc {
             text-align: center;
         }
          .card .left {
            color: #737373;
            font-size: 12px;
            line-height: 20px;
            overflow: hidden;
            text-overflow: ellipsis;
            text-align: left;
          }

          .card .invited {
            font-size: 12px;
            line-height: 20px;
            overflow: hidden;
            text-overflow: ellipsis;
            text-decoration: underline;
            color: #034500;
          }

         
         hr {
             border-color: #aaa;
             margin-bottom: 0;
         }
         span.tags {
            background: #1abc9c;
            border-radius: 2px;
            color: #f5f5f5;
            font-weight: bold;
            padding: 2px 4px;
            margin: 2px;
            display: inline-block;
        }

         {% if user == profile.user %}

             span.tags:hover {
                cursor: pointer;
                background-color: indianred;
             }

              .card .avatar img:hover {
                cursor: pointer;
                border-color: darkseagreen;

              }
         {% endif %}
         </style>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
       <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2 col-xl-6 col-xl-offset-3 user-card-container">
            <div class="user-card">
                <div class="card hovercard">
                    <div class="cardheader"></div>
                    <div class="avatar">
                        <img alt="" src="{{ profile.avatar_link|default:'/static/img/unknown.png' }}">
                        <input style="display: none" id="choose_file" type="file" multiple name="file_source" size="0" value="Upload">
                    </div>
                    <div class="info">
                        <div class="row">
                            <div class="desc col-xs-12 col-md-4">{{ profile.user.username }}</div>
                            <div class="desc col-xs-12 col-md-4">Joined: {{ profile.user.date_joined }}</div>
                            <div class="desc col-xs-12 col-md-4">Invited by: {{ profile.invited_by|default:' -- ' }}</div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="left col-xs-12"> Tags</div>
                            <div id="tags-container" class="desc col-xs-12">
                                    {% for element in profile.tags.all %}
                                        <span onclick="del_tag(this)" id="{{ element.id }}" class="tags">{{ element.value }}</span>
                                    {% endfor %}
                            </div>
                            {% if user == profile.user %}
                                <div class="col-xs-12">
                                    <input id='add_tags' class="form-control" style="width: 100%; margin-top: 1em" type="text" placeholder="Add a tag for your profile..."/>
                                </div>
                            {% endif %}
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="left desc">About yourself</div>
                            </div>
                            {% if user == profile.user %}
                                <div class="col-xs-12">
                                    <div id="save_about_me" style="display: none" class="col-xs-8 col-xs-offset-4 col-sm-4 col-sm-offset-8 col-md-2 col-md-offset-10 btn btn-sm btn-success">Save</div>
                                    <div id="edit_about_me" class="col-xs-8 col-xs-offset-4 col-sm-4 col-sm-offset-8 col-md-2 col-md-offset-10 btn btn-sm btn-default">Edit</div>
                                </div>
                            {% endif %}
                            <div class="desc col-xs-12" style="margin-top: 0.75em">
                                <textarea id="about_me_area" maxlength="3000" style="width: 100%; overflow-y: auto; resize: none;" rows="12" disabled>{{ profile.about_me_text }}</textarea>
                            </div>
                        </div>

                        <hr>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="left desc">People invited:</div>
                            </div>
                            <div class="desc col-xs-12" style="margin-top: 0.75em">
                                {% for inv in invited_users %}
                                    <a class="col-xs-2 invited" href="/profile/user/{{ inv.user.id  }}">{{ inv.user.username }}</a>
                                {% endfor %}
                            </div>
                        </div>

                        {% if user == profile.user %}

                            <hr>
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="left desc">Invitation keys</div>
                                </div>
                                <div class="desc col-xs-12" style="margin-top: 0.75em">
                                    {% if registration_keys %}
                                        <table id="reg_key_table" class="table">
                                            <tr>
                                                <th>Key</th>
                                                <th>Email</th>
                                                <th>Actions</th>
                                            </tr>
                                            {% for registration_key in registration_keys %}
                                                <tr>
                                                    <td>{{ registration_key.key }}</td>
                                                    <td>{{ registration_key.email }}</td>
                                                    <td>
                                                        {% if not registration_key.used %}
                                                            <a href="{% url 'revoke' registration_key.id %}" class="btn btn-default"><span class="glyphicon glyphicon-remove"></span>Revoke</a>
                                                        {% endif %}
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        </table>
                                    {% else %}
                                        No invitations!
                                    {% endif %}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-4 col-xs-offset-8">
                                    <a href="{% url 'invite' %}"><button id="invite" class="btn btn-default btn-block">Invite</button></a>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    function add_tag(value, tag_container){
          $.ajax({
                method: 'POST',
                url: '{% url "profile_add_tag" %}',
                data: {
                    value: value,
                    csrfmiddlewaretoken: get_csrf_token()
                }
            }).done(function(msg) {
                if (msg['success']){
                    var id = msg['id'];
                    var e = $('<span></span>');
                    $(e).addClass('tags');
                    $(e).attr('id', id);
                    $(e).attr('onclick', 'del_tag(this)');
                    $(e).html(value);
                    $(tag_container).append(e);
              }
        });
    }

     function del_tag(element){
          var id = $(element).attr('id');
          $.ajax({
                method: 'POST',
                url: '{% url "profile_del_tag" %}',
                data: {
                    tag_id: id,
                    csrfmiddlewaretoken: get_csrf_token()
                }
            }).done(function(msg) {
                if (msg['success']){
                    $(element).remove()
              }
        });
    }

    $(document).ready(function(){
        $('#my-account').addClass('active');
        $('#my-profile').addClass('active');
        {% if user == profile.user %}
            $('#add_tags').bind('keypress', function(e){
                if (e.keyCode == 13) {
                    e.preventDefault();
                    var text = $(this).val();
                    add_tag(text, $("#tags-container"));
                    $(this).val('');
                }
            });

            $('#edit_about_me').click(function(){
                $('#edit_about_me').hide();
                $('#save_about_me').show();
                $('#about_me_area').prop('disabled', false);
            });

            $('#save_about_me').click(function(){
                $('#about_me_area').prop('disabled', true);
                var new_about_me = $('#about_me_area').val();
                $.ajax({
                    method: 'POST',
                    url: '{% url "profile_about_me_change" %}',
                    data: {
                        new_about_me: new_about_me,
                        csrfmiddlewaretoken: get_csrf_token()
                    }
                }).done(function(msg) {
                    if (msg['success']) {
                        swal('Updated', 'Your about me text was saved!', 'success');
                    } else {
                        swal('Error', 'Your about me text was not update!', 'error');
                    }
                    $('#edit_about_me').show();
                    $('#save_about_me').hide();
                }).fail(function(){
                    swal('Error', 'There was a problem contacting the servee!', 'error');
                    $('#edit_about_me').show();
                    $('#save_about_me').hide();
                });
            });

            $(".card").find(".avatar").find("img").click(function(){
                $(this).next().click();
            });

            $("#choose_file").bind('change', function (event) {
                event.preventDefault();
                var files = event.target.files;

                if (files.length != 1){
                    return swal('Error', 'You can only select one image!', 'error');
                }

                var data = new FormData();
                $.each([files[0]], function (key, value) {
                    data.append(key, value);
                });

                data.append('csrfmiddlewaretoken', get_csrf_token());

           $.ajax({
                url: '{% url "profile_avatar_upload" %}',
                type: 'POST',
                data: data,
                cache: false,
                dataType: 'json',
                processData: false, // Don't process the files
                contentType: false // Set content type to false as jQuery will tell the server its a query string request
            }).done(function (msg) {
                if (msg['success'] == true) {
                    var path = msg['path'];
                    $('.avatar').find('img').attr('src', path);
                } else {
                    return swal('Error', 'Could not upload your profile picture!', 'error');
                }
            }).fail(function () {
                return swal('Error', 'Could not reach server!', 'error');
            });
        });
        {% endif %}
    });


</script>

{% endblock %}