{% extends 'base.html' %}

{% block header %}
    <script type="text/javascript" src="/profile/static/js/language20161204.js"></script>
{% endblock %}

{% block content %}
    <div class="container" style="margin: 1em auto">

        {% if empty_language_code %}
            <div class="row" style="margin-top: 1em">
                <div class="col-xs-12 col-md-10 col-md-offset-1">
                    <p><b>General language statistics:</b></p>
                    <p>Getting an overview which languages are spoken and which capabilities lie in the network is important
                        to make informed decisions on material translation and to actually find people who can translate
                        materials between languages.</p>
                    {% for element in grouping_count %}
                        <div class="row">

                            <div class="col-xs-12 col-sm-4" style="text-align: left">
                                {{ forloop.counter }}. {{ element.language_display }}
                            </div>
                            <div class="col-xs-8 col-sm-6">
                                <div class="progress">
                                    <span style="font-weight: bold; margin-left: 0.5em;">{{ element.percentage_count }}%</span>
                                    <div class="progress-bar progress-bar-success progress-bar-striped"
                                         role="progressbar" aria-valuenow="70"
                                         aria-valuemin="25" aria-valuemax="100"
                                         style="width:{{ element.percentage_count }}%">
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-4 col-sm-2">
                                {{ element.num_users }} <span class="fa fa-users"></span>
                                <a href="{% url 'language_overview' element.language %}"><span class="fa fa-share-square-o"></span></a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% elif language_present %}
            <div class="row" style="margin-top: 1em">

            <div class="col-xs-12 col-sm-6 col-sm-offset-3">
                <div><img style="height: 2em; margin-top: -6px" src="/static/img/language_flags/{{ language_present.language_code}}.png" alt=""/></div>
                <div>
                    <p>This is a list of people who listed {{ language_present.language_display }} as a language in their profile.</p>
                </div>
                    {% regroup language_spoken_qs by level as language_spoken_qs_levels %}

                    {% for element in language_spoken_qs_levels reversed %}
                        {% with a=element.list|first %}
                            <div class="pull-right" style="margin-top: 2em; color: #3c3c3e; font-size: 16px; font-weight: 700">{{ a.level_display }}</div>
                        {% endwith %}
                        <table class="table table-condensed">
                            <thead>
                                <tr>
                                    <th style="color: grey">Pic</th>
                                    <th style="color: grey">Name</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for entry in element.list %}
                                <tr class='profile-link' data-href="{% url 'profile' entry.user.id %}">
                                    <td>
                                        <img style="height:20px" src="{{ entry.user.user.avatar_link|default:'/static/img/unknown.png' }}"/>
                                    </td>
                                    <td>
                                        <div>{{ entry.user.username }}</div>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    {% endfor %}
                </div>
            <script>
                $(document).ready(function(){
                    $('.profile-link').click(function(){
                        window.location.href = $(this).data('href');
                    });
                });
            </script>
        {% endif %}
    </div>
{% endblock %}