{% extends 'base.html' %}
{% load static %}
{% get_static_prefix as STATIC_PREFIX %}

{% block header %}
    <link rel="stylesheet" type="text/css" href='/static/css/profile_cards.css'>
    <link rel="stylesheet" type="text/css" href='/static/css/profile_common.css'>
    <link rel="stylesheet" type="text/css" href='https://cdnjs.cloudflare.com/ajax/libs/awesome-bootstrap-checkbox/0.3.7/awesome-bootstrap-checkbox.min.css'>

{% endblock %}

{% block content %}
    <style>
        .card {
            height: 180px;
            overflow: hidden;
        }

    </style>

    <div class="container">
        <div class="row" style="margin-top: 1em">
            <form method="GET" action="{% url 'profile-overview' %}">

            <div class="col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-3">
                <div class="input-group">
                     <div class="input-group-btn">
                        <button class="btn btn-default form-control" type="button"><span
                                class="fa fa-info"> </span></button>
                    </div>
                    <input id="search_string" type="text" class="form-control" name="search_query" placeholder="Search term..." value="{{ search_query }}">
                    <div class="input-group-btn">
                        <button class="btn btn-default form-control" type="submit">
                            Search <span class="glyphicon glyphicon-search"></span></button>
                    </div>
                </div>
            </div>
            </form>
        </div>
        <div class="row">
            <div class="col-xs-12" style="text-align: center">
                {% if profiles.has_other_pages %}
                    <ul class="pagination">
                        {% if profiles.has_previous %}
                            <li><a href="?page={{ profiles.previous_page_number }}&search_query={{ search_query }}">&laquo;</a></li>
                        {% else %}
                            <li class="disabled"><span>&laquo;</span></li>
                        {% endif %}
                        {% for i in profiles.paginator.page_range %}
                            {% if i|add:'-2' <= profiles.number and profiles.number <= i|add:2 %}
                                {% if profiles.number == i %}
                                    <li class="active"><span>{{ profiles.number }} <span
                                            class="sr-only">(current)</span></span></li>
                                {% else %}
                                    <li><a href="?page={{ i }}&search_query={{ search_query }}">{{ i }}</a></li>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                        {% if profiles.has_next %}
                            <li><a href="?page={{ profiles.next_page_number }}&search_query={{ search_query }}">&raquo;</a></li>
                        {% else %}
                            <li class="disabled"><span>&raquo;</span></li>
                        {% endif %}
                    </ul>
                {% endif %}
            </div>
        </div>
        <div class="row">
            {# Sort by to confirm profiles and therefore better known people #}
            {% for profile in profiles %}
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2 col-xl-1 user-card-container">
                    <div class="user-card">
                        <div class="card hovercard">
                            <div class="cardheader"></div>
                            <div class="avatar">
                                <img alt="" src="{{ profile.avatar_link|default:'/static/img/unknown.png' }}">
                            </div>
                            <div class="info">
                                <div class="title">
                                    <a href="{% url 'profile' profile.user.id %}">{{ profile.user.username }}</a>
                                </div>
                                <div class="desc">
                                    <span class="last-online {{ profile.user.lastseen.last_online_class }}"></span>
                                    Last Online: {{ profile.user.lastseen.date_time|date:"Y-m-d" }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
<div class="container">
        <div class="row">
            <div class="col-xs-12" style="text-align: center">
                {% if profiles.has_other_pages %}
                    <ul class="pagination">
                        {% if profiles.has_previous %}
                            <li><a href="?page={{ profiles.previous_page_number }}&search_query={{ search_query }}">&laquo;</a></li>
                        {% else %}
                            <li class="disabled"><span>&laquo;</span></li>
                        {% endif %}
                        {% for i in profiles.paginator.page_range %}
                            {% if i|add:'-2' <= profiles.number and profiles.number <= i|add:2 %}
                                {% if profiles.number == i %}
                                    <li class="active"><span>{{ profiles.number }} <span
                                            class="sr-only">(current)</span></span></li>
                                {% else %}
                                    <li><a href="?page={{ i }}&search_query={{ search_query }}">{{ i }}</a></li>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                        {% if profiles.has_next %}
                            <li><a href="?page={{ profiles.next_page_number }}&search_query={{ search_query }}">&raquo;</a></li>
                        {% else %}
                            <li class="disabled"><span>&raquo;</span></li>
                        {% endif %}
                    </ul>
                {% endif %}
            </div>
        </div>

    </div>
{% endblock %}