{% extends 'base.html' %}
{% load static %}
{% get_static_prefix as STATIC_PREFIX %}

{% block header %}
    <link rel="stylesheet" type="text/css" href='/static/css/profile_cards.css'>
{% endblock %}

{% block content %}
    <style>
    .card {
        height: 180px;
        overflow: hidden;
    }
    </style>

<div class="container">
	<div class="row">
        {# Sort by to confirm profiles and therefore better known people #}
        {% for profile in profiles %}
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2 col-xl-1 user-card-container">
                <div class="user-card">
                    <div class="card hovercard">
                        <div class="cardheader"></div>
                        <div class="avatar">
                            <img alt="" src="{{ profile.avatar_link|default:'/static/img/unknown.png' }}">
                        </div>
                        <div class="info">
                            <div class="title">
                                <a target="_blank" href="{% url 'profile' profile.user.id %}">{{ profile.user.username }}</a>
                            </div>
                            <div class="desc">{{ profile.user.date_joined }}</div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
	</div>
</div>
{% endblock %}