
<div class="row" style="margin-bottom: 0.5em;">
    <div id="language_container" class="desc col-xs-12" style="text-align: right">
        <div class="toppad visible-xs"></div>
        {% for e in profile.user.languagespoken_set.all %}
            <div class="lang_button btn btn-default" style="text-align: left" data-lang="{{ e.language }}">
                <img style="height: 2em; margin-top: -6px" src="/static/img/language_flags/{{ e.language }}.png" alt=""/>
                <span style="font-size: 20px; height: 2em">{{ e.language_display }}</span>
                {% if user == profile.user %}
                    <span class="fa fa-remove" style="font-size: 15px;"></span>
                {% endif %}
            </div>
        {% endfor %}
    </div>
    {% if user == profile.user %}
        <div class="desc col-xs-12 col-sm-4 col-sm-offset-8" style="text-align: right; margin-top: 0.5em">
            <div class="form-inline">
                <div class="form-group">
                    <select id="language_select" class="form-control">
                        {% for key, value in languages %}
                            <option value="{{ key }}">{{ value }}</option>
                        {% endfor %}
                    </select>
                </div>
                <button id="add_language" class="btn btn-primary">Add Language</button>
            </div>
            <div class="explain ">
               Add languages that you speak
            </div>
        </div>
        <script>
            $(document).ready(function(){
                $('.lang_button').click(remove_language);
                $('#add_language').click(function(){
                    add_language($('#language_select'), $('#language_container'));
                });
            });
        </script>
    {% else %}
        <script>
            $(document).ready(function(){
                $('.lang_button').click(forward_language);
            });
        </script>
    {% endif %}
</div>