<div class="row">
    <div class="explain col-xs-12">
        Tags are short words that tell what you are experienced and interested in.
        It also can be topics you want to engage in or talk about.<br>
        In the discover section those terms are used to find profiles.
    </div>
</div>
<hr>
<div class="row">
    <div id="tags-container" class="col-xs-12 text-center" style="margin-top: 1.5em">
        {% for element in profile.user.userslugs_set.all %}
            <span id="{{ element.id }}" class="tags">{{ element.slug.value }}</span>
        {% empty %}
            This profile has no tags entered yet.
        {% endfor %}
    </div>
</div>
{% if user == profile.user %}
<hr>
<div class="row">
        <div class="col-xs-12 col-sm-4 col-sm-offset-4">
            <input id='add_tags' class="form-control" style="width: 100%; margin-top: 1em"
                   type="text" placeholder="Add tags to your profile..."/>
            <div class="explain">Add a tag by entering a word and pressing return.</div>
        </div>
</div>
{% endif %}
