<style>

</style>
{% if user == profile.user %}
<div class="row">
    <div class="explain col-xs-12 col-sm-6 col-sm-offset-6">
        Add a new skill by typing a single word describing your skill.
        Also you can set the skill level between 1 and 5. After that press the save
        button to register the skill.
    </div>
</div>

<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-6">
        <div class="input-group input-group-option level-range">
            <span class="input-group-addon input-group-addon-remove">
                <span id="create_skill_level">1</span>
            </span>
            <span id="create_skill_up" class="input-group-addon input-group-addon-remove clickable">
                <span class="fa fa-angle-double-up"></span>
            </span>
            <span id="create_skill_down" class="input-group-addon input-group-addon-remove clickable">
                <span class="fa fa-angle-double-down"></span>
            </span>

            <input id="create_skill_text" type="text" class="form-control" placeholder="Enter a skill" value="{{ usk.slug.value }}">
            <span class="input-group-btn">
                <button id="create_skill_save"  class="btn btn-default" type="button">Save</button>
            </span>
        </div>
    </div>
</div>

{% endif %}

<hr/>

<div class="row user_skill_container" style="margin: 1em auto;">
    {% for usk in user_skills %}
        <div class="col-xs-12 col-sm-12 col-md-6">
            <div class="input-group input-group-option level-range">
                <span class="input-group-addon input-group-addon-remove">
                    <span class="skill_level">{{ usk.level }}</span>
                </span>
                {% if user == profile.user %}
                    <span data-slug-id="{{ usk.slug.id }}" class="input-group-addon input-group-addon-remove clickable upskill">
                        <span class="fa fa-angle-double-up"></span>
                    </span>
                    <span data-slug-id="{{ usk.slug.id }}" class="input-group-addon input-group-addon-remove clickable downskill">
                        <span class="fa fa-angle-double-down"></span>
                    </span>
                {% endif %}
                <a href="{% url 'phrase_details' usk.slug.id %}">
                    <input type="text" name="option[]" class="btn btn-default form-control" placeholder="Focus me" value="{{ usk.slug.value }}" readonly>
                </a>
                {% if user == profile.user %}
                    <span data-slug-id="{{ usk.slug.id }}" class="input-group-addon input-group-addon-remove clickable rmskill">
                        <span class="glyphicon glyphicon-remove"></span>
                    </span>
                {% endif %}
            </div>
        </div>
    {% endfor %}
</div>



{% if user == profile.user %}

    <div class="blueprint" style="display: none">
        <div class="col-xs-12 col-sm-12 col-md-6 blueprint-skill-entry">
            <div class="input-group input-group-option level-range">
                <span class="input-group-addon input-group-addon-remove">
                    <span class="skill_level"></span>
                </span>
                    <span data-slug-id="" class="input-group-addon input-group-addon-remove clickable upskill">
                        <span class="fa fa-angle-double-up"></span>
                    </span>
                    <span data-slug-id="" class="input-group-addon input-group-addon-remove clickable downskill">
                        <span class="fa fa-angle-double-down"></span>
                    </span>
                <a class="link" href="{% url 'phrase_details' '' %}">
                    <input type="text" name="option[]" class="btn btn-default form-control" value="" readonly>
                </a>
                <span data-slug-id="" class="input-group-addon input-group-addon-remove clickable rmskill">
                    <span class="glyphicon glyphicon-remove"></span>
                </span>
            </div>
        </div>
</div>

<script>

    $(document).ready(function(){
        $('#create_skill_up').click(function(){
            change_skill_level_local($('#create_skill_level'), 1);
        });
        $('#create_skill_down').click(function(){
             change_skill_level_local($('#create_skill_level'), -1);
        });
        $("#create_skill_save").click(function (){
            var level = $('#create_skill_level').html();
            var skill_name = $('#create_skill_text').val();
            var $container = $('.user_skill_container');
            var $blueprint = $('.blueprint-skill-entry');
            function call_back_object_create_on_success(response_dict){
                var $cloned = $blueprint.clone();
                $cloned.removeClass('blueprint-skill-entry');

                var skill_id = response_dict['skill_id'];

                var $upskill = $cloned.find('.upskill');
                var $downskill = $cloned.find('.downskill');
                var $rmskill = $cloned.find('.rmskill');
                var $skill_level = $cloned.find('.skill_level');

                $skill_level.html(response_dict['new_level']);

                $upskill.data('slug-id', skill_id);
                $downskill.data('slug-id', skill_id);
                $rmskill.data('slug-id', skill_id);

                $upskill.click(function() {increase_skill(skill_id, $skill_level)});
                $downskill.click(function() {decrease_skill(skill_id, $skill_level)});
                $rmskill.click(function() {remove_skill(skill_id, $cloned)});

                var href = $cloned.find('.link').attr('href');
                $cloned.find('.link').attr('href', href + skill_id);

                $cloned.find('input').val(skill_name);

                $container.append($cloned);
                $('#create_skill_text').val('');
                $('#create_skill_level').html('1');
            }
            create_skill(level, skill_name, call_back_object_create_on_success);
        });
        $('.upskill').click(function(){
            var skill_id = $(this).data('slug-id');
            var $target = $(this).parent().find('.skill_level');
            increase_skill(skill_id, $target)
        });
        $('.downskill').click(function(){
            var skill_id = $(this).data('slug-id');
            var $target = $(this).parent().find('.skill_level');
            decrease_skill(skill_id, $target)
        });
        $('.rmskill').click(function(){
            var skill_id = $(this).data('slug-id');
            var $target = $(this).parent().parent();
            remove_skill(skill_id, $target)
        })
    });
</script>
{% endif %}
