<div style="height:20px;background-color:transparent">&nbsp;</div>
<table cellpadding="0" cellspacing="0" width="100%" style="align:center;text-align:center;border:0px;border-spacing:0px;background-color:#ffffff;padding:20px;border-radius:5px">
    <tbody>
        <tr>
            <td width="100%" style="font-family:Helvetica, Arial, sans-serif">
                <table cellpadding="0" cellspacing="0" width="100%">
                    <tbody>
                        <tr>
                            <td width="50%"
                                style="font-family:Helvetica, Arial, sans-serif;text-align:left;padding-bottom:5px">
                                <span style="font-size:13px;line-height:1.5em;text-decoration:none;color:#9e9ea0;font-family:Open Sans, Arial, Helvetica, sans-serif !important">
                                    <img src="https://rbe.heleska.de/static/img/connect.png" width="100" alt="RBE Connect">
                                </span>
                            </td>
                            <td width="50%"
                                style="font-family:Helvetica, Arial, sans-serif;text-align:left;padding-bottom:5px">
                                <span style="font-size:13px;line-height:1.5em;text-decoration:none;color:#3c3c3e;font-family:Open Sans, Arial, Helvetica, sans-serif !important">
                                    Writing some paragraphs about yourself serves well in communicating your own perspectives on projects
                                    and can show to others how you would like to be approached. It can be very helpful for other people to
                                    know a little about your background in order to not start a conversation with hidden assumptions and
                                    therefore lead to a more clear and concise communication. Therefore, it would be great if you could
                                    add some (more) information in the about me area in your profile.
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>
