<div style="height:20px;background-color:transparent">&nbsp;</div>
<table cellpadding="0" cellspacing="0" width="100%" style="align:center;text-align:center;border:0px;border-spacing:0px;background-color:#ffffff;padding:20px;border-radius:5px">
    <tbody>
        <tr>
            <td width="100%" style="font-family:Helvetica, Arial, sans-serif">
                <table cellpadding="0" cellspacing="0" width="100%">
                    <tbody>
                        <tr>
                            <td width="50%"
                                style="font-family:Helvetica, Arial, sans-serif;text-align:left;padding-bottom:5px">
                                <span style="font-size:13px;line-height:1.5em;text-decoration:none;color:#9e9ea0;font-family:Open Sans, Arial, Helvetica, sans-serif !important">
                                    <img src="https://rbe-network.org/static/img/languages.png" width="100" alt="RBE Connect">
                                </span>
                            </td>
                            <td width="50%"
                                style="font-family:Helvetica, Arial, sans-serif;text-align:left;padding-bottom:5px">
                                <span style="font-size:13px;line-height:1.5em;text-decoration:none;color:#3c3c3e;font-family:Open Sans, Arial, Helvetica, sans-serif !important">
                                    One of the easiest ways to help advance the RBE proposals is by translating material produced into other languages.
                                    To give project coordinators a better way to find people who speak certain languages it would be great if you could
                                    register the languages that you speak on the network. On your profile you can just select languages from a drop down
                                    menu and hit add. That's it.
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>
