<div style="height:20px;background-color:transparent">&nbsp;</div>
<table cellpadding="0" cellspacing="0" width="100%" style="align:center;text-align:center;border:0px;border-spacing:0px;background-color:#ffffff;padding:20px;border-radius:5px">
    <tbody>
        <tr>
            <td width="100%" style="font-family:Helvetica, Arial, sans-serif">
                <table cellpadding="0" cellspacing="0" width="100%">
                    <tbody>
                        <tr>
                            <td width="50%"
                                style="font-family:Helvetica, Arial, sans-serif;text-align:left;padding-bottom:5px">
                                <span style="font-size:13px;line-height:1.5em;text-decoration:none;color:#9e9ea0;font-family:Open Sans, Arial, Helvetica, sans-serif !important">
                                    <img src="https://rbe.heleska.de/static/img/location.png" width="100" alt="RBE Connect">
                                </span>
                            </td>
                            <td width="50%"
                                style="font-family:Helvetica, Arial, sans-serif;text-align:left;padding-bottom:5px">
                                <span style="font-size:13px;line-height:1.5em;text-decoration:none;color:#3c3c3e;font-family:Open Sans, Arial, Helvetica, sans-serif !important">
                                    The location of activists is pretty important so that we can estimate where we need to be more active and also
                                    to organize and hold local events and collaborations. When you make your location available it will show it
                                    on the world map for others. Also people who visit your profile will see it in the location tab. In order to record your
                                    location visit your profile and select the tab location where you can then record your location.
                                </span>
                            </td>
                        </tr></a>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>
