{% extends 'base.html' %}

{% block header %}

{% endblock %}

{% block content %}
    <div class="container" style="margin-top:20px;">
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-3">
                <div class="input-group">
                    <div class="input-group-btn search-panel">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            <span id="search_concept">Filter by</span> <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#skills_only">
                                <h5><span class="label label-success">Skills only</span></h5></a>
                            </li>
                            <li><a href="#skills_only">
                                <h5><span class="label label-warning">Interests only</span></h5></a>
                            </li>
                            <li class="divider"></li>
                            <li><a href="#all">Anything</a></li>
                        </ul>
                    </div>
                    <input type="hidden" name="search_param" value="all" id="search_param">
                    <input type="text" class="form-control" name="x" placeholder="Search term...">
                    <div class="input-group-btn">

                        <button class="btn btn-default form-control" type="button"><span
                                class="glyphicon glyphicon-search"> </span></button>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2">
                {% for element in all_objects %}
                    <a href="{% url 'phrase_details' element.id %}">
                        <h4 style="text-align: center; cursor: pointer; display: inline-block; margin: 0.2em">
                            <span class="label label-warning">{{ element.value }} <span class="badge">{{ element.object_count }}</span></span>
                        </h4>
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>



    <script>
        $(document).ready(function () {
            $('.search-panel .dropdown-menu').find('a').click(function (e) {
                e.preventDefault();
                var param = $(this).attr("href").replace("#", "");
                var concept = $(this).text();
                $('.search-panel span#search_concept').text(concept);
                $('.input-group #search_param').val(param);
            });
        });

    </script>
{% endblock %}