{% extends 'base.html' %}

{% block header %}
    <link rel="stylesheet" type="text/css" href='{{ STATIC_PREFIX }}css/testimonial.css'>

{% endblock %}

{% block content %}
    {% if not slug_phrase %}
    <div class="container" style="margin-top:20px;">
        <div class="row">
            <div class="col-xs-12">
                Sorry - the phrase does not exists!
            </div>
        </div>
    </div>
    {% else %}
    <div class="container" style="margin-top:20px;">
        <div class="row">
            <div class="col-xs-12">
                <div style="text-align: left">
                    <span style="font-size: 20px; vertical-align: middle">Skill statistics for</span>
                    <h4 style="text-align: center; display: inline; margin: 0.2em; ">
                        <span class="label label-warning" style="vertical-align: middle">{{ slug_phrase.value }}</span>
                    </h4>
                </div>
            </div>
        </div>
        <hr/>


        <div class="row">
            <div class="col-xs-12 col-sm-5" style="margin: 0 auto">
                {% include 'capability_breakdown.html' with capability=capability %}
            </div>
            <div class="col-xs-12 col-sm-7">
                <table class="table table-condensed">
                    <thead>
                    <tr>
                        <th>Pic</th>
                        <th>Name</th>
                        <th>Rating</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for user_skill in user_skill_lst %}

                        <tr class='profile-link' data-href="{% url 'profile' user_skill.user.id %}">
                            <td>
                                <img style="height:20px" src="{{ user_skill.user.user.avatar_link|default:'/static/img/unknown.png' }}"/>
                            </td>
                            <td>
                                <div>{{ user_skill.user.username }}</div>
                            </td>
                            <td>
                                <button type="button" class="btn btn-xs {% if user_skill.level < 1 %}btn-default btn-grey{% else %}btn-success{% endif %}" aria-label="Left Align">
                                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                </button>
                                <button type="button" class="btn btn-xs {% if user_skill.level < 2 %}btn-default btn-grey{% else %}btn-success{% endif %}" aria-label="Left Align">
                                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                </button>
                                <button type="button" class="btn btn-xs {% if user_skill.level < 3 %}btn-default btn-grey{% else %}btn-success{% endif %}" aria-label="Left Align">
                                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                </button>
                                <button type="button" class="btn btn-xs {% if user_skill.level < 4 %}btn-default btn-grey{% else %}btn-success{% endif %}" aria-label="Left Align">
                                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                </button>
                                <button type="button" class="btn btn-xs {% if user_skill.level < 5 %}btn-default btn-grey{% else %}btn-success{% endif %}" aria-label="Left Align">
                                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                </button>
                            </td>
                        </tr></a>
                    {% endfor %}
                    </tbody>
                </table>

            </div>
        </div>

    </div> <!-- /container -->

    <style>
        .profile-link:hover {
            background-color: #eee;
            cursor: pointer;
        }
    </style>
    <script>

    $(document).ready(function(){
        $('.profile-link').click(function(){
            window.location.href = $(this).data('href');
        });
    });

    </script>
    {% endif %}
{% endblock %}