{% extends 'base.html' %}

{% block content %}
    <div style="width:100%; text-align: center; margin: 20px auto;">
        <form method="post" action="{% url 'login' %}" class="row">
            {% csrf_token %}
            {% for field in form %}
                <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4 fieldWrapper {% if field.errors %}errors{% endif %}">

                    <label class="control-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {{ field }}
                    {% if field.help_text %}
                        <span id="help_{{ field.id_for_label }}" class="help-block">{{ field.help_text|safe }}</span>
                    {% endif %}
                    {% for error in field.errors %}
                        <div class="alert alert-danger" role="alert">{{ error }}</div>
                    {% endfor %}
                </div>
            {% endfor %}
            <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4" style="margin-top: 4px">
                <button class="btn fg-black bg-primary-1 btn-block" type="submit" value="login">Login</button>
            </div>
            {{ form.error }}
            {%  if next %}
                <input type="hidden" name="next" value="{{ next }}">
            {% endif %}
        </form>

        <div class="row" style="margin-top: 3em">
            <a class="btn btn-sm fg-black bg-primary-1" href="{% url 'password_reset' %}">Lost password?</a>
            <a class="btn btn-sm fg-black bg-primary-1" href="{% url 'register_info' %}">Register</a>
        </div>
    </div>
    <div class="container">
        <div class="row"  style="width: 100%; margin-top: 6em">
            <div class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-0 col-md-3 col-md-offset-0" style="margin-top: 4px">
                <img class="col-xs-5" src="/static/img/location.png">
                <b>Location</b>
                <p>This page allows you to see the location of other people advocating for a Resource Based Economy. You are free to share your location if you want to and also can see the profiles of users close to you. This allows better activism and coordination and you might discover people which you didn't know before living closer to you than you think.</p>
            </div>
            <div class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-0 col-md-3 col-md-offset-0" style="margin-top: 4px">
                <img class="col-xs-5" src="/static/img/skills.png">
                <b>Skills & Abilities</b>
                <p>Being part of the network allows you to enter skills, abilities and interests you have and in which fields you want to advance yourself. You can find people with similar skills to deepen your knowledge or get help for particular problems. I am sure that some people are also willing provide education on new topics and share their knowledge.</p>
            </div>
            <div class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-0 col-md-3 col-md-offset-0" style="margin-top: 4px">
                <img class="col-xs-5" src="/static/img/connect.png">
                <b>Connecting</b>
                <p>Networking is one of the most important parts in activism and in spreading ideas in general. It is a network that is based on an invite-approach for the simple reason that it does not require a central authority to allow users in but also makes sure that not everyone can just join if they are not familiar with the presented topic and way of thinking. Once joined you are free to invite people yourself.</p>
            </div>
            <div class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-0 col-md-3 col-md-offset-0" style="margin-top: 4px">
                <img class="col-xs-5" src="/static/img/plugin.png">
                <b>Plugin</b>
                <p>If you are a software developer, then this page can be used as an OpenId provider which allows you to build additional functionality around it. Use the location data to inform about activism in the region, bring people together on projects with certain skills; the possibilities are endless.</p>
            </div>
        </div>
    </div>
{% endblock %}