{% extends 'base.html' %}
{% load prettify %}

{% block header %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/5.1.1/bootstrap-social.min.css">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row" style="margin-top: 3em">
            <div class="col-xs-12 col-md-5 col-md-offset-2">
                <p>This page let's all the various organizations working towards an RBE
                    post updates and news on a regular basis. Note that only
                    organizations can post on this page and it is designed as an
                    information feed rather than a discussion platform.
                </p>
            </div>
            <div class="col-xs-12 col-md-3">
                <a href="{% url 'organization-list' %}" class="btn btn-sm btn-block btn-warning">Organization list</a>
                {% if user.is_authenticated %}
                    <a href="{% url 'organization-create' %}" class="btn btn-sm btn-block btn-default">Create Organization</a>
                    <a href="{% url 'organization-post' '' %}" class="btn btn-sm btn-block btn-default">Create Post</a>
                {% endif %}
            </div>
        </div>

        <div class="row" style="margin-top: 1em">
            <div class="col-xs-12 col-md-8 col-md-offset-2">
                <hr>
            </div>
        </div>

    {% for entry in organization_posts %}
        <div class="row" style="margin-top: 1em">
            <div class="hidden-xs col-xs-12 col-md-2" style="text-align: right">
                <img style="height: 48px; width: 48px; border: 1px solid #cce;" src="{{ entry.organization.logo_url|default:'http://placehold.it/50x50' }}">
            </div>
            <div class="col-xs-12 col-md-8">
                <b>{{ entry.organization.name }}</b>
                <b class="pull-right">{{ entry.created }}</b>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-8 col-md-offset-2">
                <p style="text-align: justify">
                {{ entry.content|urlize }}
                </p>
                <p>
                    <i>{{ entry.author }}</i>
                </p>
            </div>
            {%  if False %}
                <div class="col-xs-12 col-md-2">
                    <div class="btn btn-sm btn-social btn-twitter btn-block">
                        <span class="fa fa-twitter"></span> Share
                    </div>
                    <div class="btn btn-sm btn-social btn-facebook btn-block">
                        <span class="fa fa-facebook"></span> Share
                    </div>
                    <div class="btn btn-sm btn-social btn-google btn-block">
                        <span class="fa fa-google"></span> Share
                    </div>
                </div>
            {% endif %}
        </div>
    {% endfor %}
       {% if False %}
           <div class="row" style="margin-top: 1em">
                <div class="col-xs-12 col-md-8 col-md-offset-2">
                    <div class="btn btn-block btn-sm btn-success">
                        Load more
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}

