{% extends 'base.html' %}

{% block content %}
    <div class="container" style="margin: 20px auto">
        <form method="post" action="{% url 'register' '' %}" class="row">
            {% for error in form.non_field_errors %}
                <div class="alert alert-danger col-xs-12 col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3" role="alert" style="margin-top: 4px;">{{ error }}</div>
            {% endfor %}
            {% csrf_token %}
            {% for field in form %}
                <div id="{{ field.id_for_label }}" class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3 fieldWrapper {% if field.errors %}errors{% endif %}">

                    <label class="pull-left control-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {{ field }}
                    {% if field.help_text %}
                        <span id="help_{{ field.id_for_label }}" class="help-block">{{ field.help_text|safe }}</span>
                    {% endif %}
                    {% for error in field.errors %}
                        <div class="alert alert-danger" role="alert">{{ error }}</div>
                    {% endfor %}
                </div>

            {% endfor %}
            <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3">
                <button class="btn fg-black bg-primary-1 btn-block" type="submit" value="login">Register</button>
            </div>
        </form>
    </div>
{% endblock %}