{% extends 'base.html' %}
{% load static %}
{% get_static_prefix as STATIC_PREFIX %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-8 col-xs-offset-2">
                <form id="change_profile" action="{% url "change_profile" %}" method="post">
                    {% csrf_token %}

                    {% for error in form.non_field_errors %}
                        <div class="alert alert-danger" role="alert">{{ error }}</div>
                    {% endfor %}

                    {% for field in form %}
                        <div class="fieldWrapper {% if field.errors %}errors{% endif %}">
                            {% for error in field.errors %}
                                <div class="alert alert-danger" role="alert">{{ error }}</div>
                            {% endfor %}
                            <div class='row'>
                                <label class="col-sm-12" for="{{ field.id_for_label }}">{{ field.label }}</label>
                                <div class="col-sm-12">{{ field }}
                                    {% if field.help_text %}
                                        <span id="help_{{ field.id_for_label }}"
                                              class="help-block">{{ field.help_text|safe }}</span>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    <input class="btn btn-success btn-block" type="submit" value="Apply changes"
                           style="margin-top: 15px"/>
                </form>

            </div>
        </div>
    </div>
{% endblock %}