{% load static %}
{% get_static_prefix as STATIC_PREFIX %}
<div class="hidden-sm hidden-md hidden-lg" style="display: inline;">
    <a href="{% url 'profile' user.id %}" class="btn" title="My profile"><i
            class="fa fa-2x fa-user-circle-o green-text"></i></a>
    <a href="{% url 'world_map' %}" class="btn" title="World Map"><i
            class="fa fa-2x fa-globe green-text"></i></a>
    <a href="{% url 'organization-overview' %}" class="btn" title="Organizations"><i
            class="fa fa-2x fa-university green-text"></i></a>
    <a href="{% url 'messages' %}" class="btn" title="Messages"><i
            class="fa fa-2x fa-envelope green-text"></i>  {% if message_context %}
        {% if message_context.unread_count %}
            <span class="badge">{{ message_context.unread_count }}</span>
        {% endif %}
    {% endif %}</a>
</div>