@import url(https://fonts.googleapis.com/css?family=Oswald:400,300);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
.bg-primary-0 {
  background-color: #328A2E; }

.bg-primary-1 {
  background-color: #8DCF8A; }

.bg-primary-2 {
  background-color: #5AAC56; }

.bg-primary-3 {
  background-color: #156711; }

.bg-primary-4 {
  background-color: #034500; }

.fg-black {
  color: black; }

hr {
  border-color: black; }

.profile-link:hover {
  background-color: #ccc;
  cursor: pointer; }

.explain {
  color: #7c7c7c;
  font-style: italic; }

.clickable:hover {
  background-color: #ccc;
  cursor: pointer; }

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.iamgurdeep-pic {
  position: relative; }

.username {
  bottom: 0;
  color: #ffffff;
  padding: 10px 15px 4px;
  width: 100%;
  text-shadow: 1px 1px 2px #000000;
  background: -moz-linear-gradient(top, black 0%, #328A2E 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, black 0%, #328A2E 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, black 0%, #328A2E 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */ }

.iamgurdeeposahan {
  border-radius: 4px 4px 0 0; }

.username > h2 small {
  color: #ffffff;
  font-family: open sans;
  font-size: 13px;
  font-weight: 400;
  position: relative; }

.username .fa {
  color: #ffffff;
  font-size: 14px;
  margin: 0 0 0 4px;
  position: static; }

.edit-pic a {
  background: transparent none repeat scroll 0 0;
  border: 1px solid #5AAC56;
  border-radius: 50%;
  color: #5AAC56;
  font-size: 21px;
  height: 39px;
  line-height: 38px;
  margin: 8px;
  text-align: center;
  width: 39px;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  text-decoration: none !important;
  display: list-item;
  background-color: rgba(255, 255, 255, 0.1); }

.edit-pic a:hover {
  font-size: 17px;
  opacity: 0.9; }

.edit-pic a:focus {
  background: #b63b4d;
  color: #fff;
  border: 1px solid #b63b4d; }

a:focus {
  outline: none;
  outline-offset: 0px; }

.edit-pic {
  position: absolute;
  right: 0;
  top: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease; }

.tags {
  background: rgba(255, 255, 255, 0.1) none repeat scroll 0 0;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 2px;
  display: inline-block;
  font-size: 13px;
  margin: 4px 0 0;
  padding: 2px 5px;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease; }

.tags:hover {
  background: rgba(255, 255, 255, 0.3) none repeat scroll 0 0;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 2px;
  display: inline-block;
  font-size: 13px;
  margin: 4px 0 0;
  padding: 2px 5px; }

#accordion:hover .edit-pic {
  opacity: unset;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease; }

.btn-o {
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 2px;
  color: #ffffff !important;
  display: inline-block;
  font-family: open sans;
  font-size: 15px !important;
  font-weight: normal !important;
  margin: 0 0 10px;
  padding: 5px 11px;
  text-decoration: none !important;
  text-transform: uppercase;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease; }

.btn-o:hover {
  background-color: rgba(255, 255, 255, 0.4);
  color: #fff !important;
  cursor: pointer; }

.btn-o:focus {
  background: #5AAC56;
  color: #fff;
  border: 1px solid #5AAC56; }

.submenu .iamgurdeeposahan {
  background: rgba(255, 255, 255, 0.1) none repeat scroll 0 0 !important;
  border-radius: 50%;
  height: 60px;
  padding: 2px;
  width: 60px; }

.photosgurdeep > a {
  background: #ffffff none repeat scroll 0 0;
  border-radius: 50%;
  display: inline-block !important;
  padding: 0 !important; }

.view-all {
  background: rgba(255, 255, 255, 0.1) none repeat scroll 0 0 !important;
  border: 1px solid;
  float: right;
  font-family: oswald;
  font-size: 26px;
  height: 60px;
  line-height: 61px;
  text-align: center;
  width: 60px; }

.photosgurdeep {
  padding: 10px 9px 4px 35px; }

ul {
  list-style-type: none; }

a {
  color: #5AAC56;
  text-decoration: none; }

/** =======================
 * Contenedor Principal
 ===========================*/
h1 {
  color: #FFF;
  font-size: 24px;
  font-weight: 400;
  text-align: center;
  margin-top: 40px; }

h1 a {
  color: #5AAC56;
  font-size: 16px; }

.vertical-margin-10 {
  margin-top: 10px;
  margin-bottom: 10px; }

.lang_remove:hover {
  cursor: pointer;
  background-color: #ccc; }

.accordion {
  width: 100%;
  margin: 25px auto 20px;
  background: #FFF;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px; }
  .accordion .link {
    cursor: pointer;
    display: block;
    padding: 15px 15px 15px 42px;
    color: #4D4D4D;
    font-size: 14px;
    font-weight: 700;
    border-bottom: 1px solid #CCC;
    position: relative;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease; }

.accordion li:last-child .link {
  border-bottom: 0; }

.accordion li i {
  position: absolute;
  top: 16px;
  left: 12px;
  font-size: 18px;
  color: #595959;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease; }

.accordion li i.fa-chevron-down {
  right: 12px;
  left: auto;
  font-size: 16px; }

.accordion li.open .link {
  color: #156711; }

.accordion li.open i {
  color: #156711; }

.accordion li.open i.fa-chevron-down {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg); }

.accordion li.default .submenu {
  display: block; }

/**
 * Submenu
 -----------------------------*/
.submenu {
  display: none;
  background: #4b4a5e;
  font-size: 14px; }

.submenu li {
  border-bottom: 1px solid #4b4a5e; }

.submenu a {
  display: block;
  text-decoration: none;
  color: #d9d9d9;
  padding: 12px;
  padding-left: 42px;
  -webkit-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease; }

.submenu a:hover {
  color: #FFF; }

.tags {
  cursor: pointer; }

.edit {
  padding: 4px; }
  .edit a {
    border-radius: 50%;
    border: 1px solid #ccc; }
    .edit a:hover {
      background-color: #5AAC56; }

/*# sourceMappingURL=profile20161111.css.map */
