{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="row" style="margin-top: 1em">
            <p class="col-xs-12 col-md-6 col-md-offset-3" style="font-size: 24px; font-weight: bold">RBE Network</p>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-6 col-md-offset-3">
                <p>The main purpose of this page is to connect people who consider themselves advocates for a
                    Resource Based Economy or certain aspects of it. With creating a profile you will have the
                    possibilities to add a text about yourself, list specific interests and skills you have as well
                    as sharing your location so that other people can contact you.</p>

                <p>The medium term goal of this project is to create a single hub that connect all tools that
                    are useful for organizing activism, learning about the concepts of a Resource Based Economy,
                    learning about science and technology and objective inquiry and reason on available data.
                </p>

                <p> The system is open for registration to anyone and once registered you can see other people's
                    profile, their skills and their location. You can then start a conversation with people by sending
                    them messages - either because they are close to you or because they have skills or interests that you
                    want to talk about with them.
                </p>

                <p> If you have any question please contact me at <b>rbe DOT heleska [at] gmail DOT com</b> or have a
                    look at the <a href="{% url 'faq' %}">FAQ</a>. If you are a developer you might want to check out
                    the development guide in order to build surrounding tools that people can make use of.
                </p>

                <p>
                    As to my current knowledge the following associations serve an inspiration with concrete concepts for
                    change and
                    instead of listing any special claims ourselves we simply point to those sources in order for you to
                    learn more
                    about them.
                </p>

                <p>
                    Robert
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-6 col-md-offset-3">
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-6 col-md-offset-3">
                <div class="row">
                    <a target="_blank" href="https://www.thevenusproject.com"><img class="col-xs-12 col-md-6"
                                                                                   src="/static/img/tvp.jpg"></a>
                    <a target="_blank" href="http://www.thezeitgeistmovement.com"><img class="col-xs-12 col-md-6"
                                                                                       src="/static/img/tzm.jpg"></a>
                    <a target="_blank" href="http://www.eosprojects.com/"><img class="col-xs-12 col-md-6"
                                                                                       src="/static/img/eos.png"></a>
                    <a target="_blank" href="http://auravana.com/index"><img class="col-xs-12 col-md-6"
                                                                                       src="http://auravana.com/images/logo-auravana-project-317x108.svg?crc=80370326"></a>
                    <a target="_blank" href="http://futuristplayground.org/"><img class="col-xs-12 col-md-6"
                                                                                       src="http://futuristplayground.org/wp-content/uploads/2016/01/fp_logo_name_sm.png"></a>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-6 col-md-offset-3">
                <hr>
            </div>
        </div>
    </div>
{% endblock %}
