{% extends 'base.html' %}

{% block content %}
    <div class="container" style="margin-top: 1em">
        <div class="row">
            <div class="col-xs-12 col-md-6 col-md-offset-3">


                {% if form %}
                    <form method="post" action="{% url 'compose' '' %}">
                        <div class="row">
                            {% csrf_token %}
                            {{ form.error }}
                            {% if next %}
                                <input type="hidden" name="next" value="{{ next }}">
                            {% endif %}

                            <div class="form-group">
                                {{ form.recipient_id }}
                                <label class="col-sm-2" for="{{ form.recipient_name.id_for_label }}">To</label>
                                <div class="col-sm-10">
                                    {{ form.recipient_name }}
                                </div>
                                {% for error in form.recipient_id.errors %}
                                    <div class="alert alert-danger col-xs-12" role="alert">{{ error }}</div>
                                {% endfor %}
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2" for="{{ form.subject.id_for_label }}">Subject</label>
                                <div class="col-sm-10">{{ form.subject }}</div>
                                {% for error in form.subject.errors %}
                                    <div class="col-xs-12">
                                        <div class="alert alert-danger" role="alert">{{ error }}</div>
                                    </div>
                                {% endfor %}
                            </div>
                            <div class="form-group">
                                <label class="col-sm-12" for="{{ form.body.id_for_label }}">Message</label>
                                <div class="col-sm-12">{{ form.body }}</div>
                                {% for error in form.body.errors %}
                                    <div class="col-xs-12">
                                        <div class="alert alert-danger" role="alert">{{ error }}</div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        <button type="submit" class="col-xs-12 col-sm-4 col-sm-offset-8 btn btn-primary">Send</button>
                    </form>
                {% else %}
                    <h4>Can not compose message to the user. Probably a technical error. Try again later.</h4>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}