{% extends 'base.html' %}

{% block content %}
<div class="container">

    <div class="row" style="margin-top: 1em">
        <div class="col-sm-3 col-md-2">
            <ul class="nav nav-pills nav-stacked" style="margin-bottom: 1em;">
                <li class="active"><a href="{% url 'inbox' %}"><span class="badge pull-right">{{ messages_received|length}}</span> Inbox </a></li>
                <li><a href="{% url 'outbox' %}">Sent</a></li>
            </ul>
        </div>
        <div class="col-sm-9 col-md-10">
            <div class="tab-content">
                <div class="tab-pane fade in active" id="home">
                    <div class="list-group">
                        {% for message in messages_received %}
                        <a id="{{ message.id }}" href="{% url 'message' message.id %}" class="list-group-item">
                            {% if message.status == 0 %}
                                <span class="fa fa-envelope"></span>
                            {% endif %}
                            <span class="name" style="min-width: 120px; display: inline-block;">{{ message.sender.username }}</span>
                            <span class="">{{ message.subject }}</span>
                            <span class="text-muted" style="font-size: 11px;">- More content here</span>
                            <span class="remove-message badge" style="background-color: #d6111b" data-message-id="{{ message.id }}">Remove</span>
                            <span class="badge">{{ message.sent_time|date:'Y-m-d' }}</span>
                            <div style="clear: both"></div>
                        </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    <script>
    $(document).ready(function(){
        $(".remove-message").click(function(e){
            e.preventDefault();
            swal({
              title: "Are you sure?",
              text: "Info: The message will be invisible in your inbox but still visible in the outbox of the sender!",
              showCancelButton: true,
              confirmButtonText: "Yes, delete it!",
              closeOnConfirm: false,
              closeOnCancel: false
            },
            function(isConfirm) {
              if (isConfirm) {
                var message_id = $(this).data('message-id');
                $.ajax({
                    method: 'POST',
                    url: get_url('message-delete'),
                    data: {
                        message_id: $(this).data('message-id'),
                        csrfmiddlewaretoken: get_csrf_token()
                    }
                }).done(function (msg) {
                    if (msg['success']) {
                        $("#" + message_id).hide(500).remove();
                    } else {
                        swal("Cancelled", "Could not reach the server!", "error");
                    }
                });
              }
            });
            console.log();
        });
    });

    </script>

{% endblock %}