{% extends 'base.html' %}
{% load static %}
{% get_static_prefix as STATIC_PREFIX %}

{% block header %}
    <link rel="stylesheet" type="text/css" href='{{ STATIC_PREFIX }}css/testimonial.css'>

{% endblock %}

{% block content %}
<style>
.message {
    padding: 1em;
    background-color: #eee;
}

.message .text {
    border: 1px solid #ccc;
    padding: 0.5em;
}
</style>
    <div class="container" style="padding-top:30px">
	<div class="row">
		<div class="col-sm-6 col-sm-offset-3">
            {% if message %}
            <h4 class="text-left">{{ message.subject }}</h4>
            <div id="tb-testimonial" class="testimonial testimonial-default">
                <div class="testimonial-section">
                   {{ message.message_text }}
            	</div>
                <div class="testimonial-desc">
                    {{ message.sender.userprofile }}
                    <a href="{% url 'profile' message.sender.id %}"><img src="{{ message.sender.user.avatar_link|default:'/static/img/unknown.png' }}"/></a>
                    <div class="testimonial-writer">
                    	<div class="testimonial-writer-name">{{ message.sender.username }}</div>
                    	<div class="testimonial-writer-designation">{{ message.sent_time }}</div>
                    </div>
                </div>
                {% if user != message.sender %}
                    <div class="col-xs-12 col-sm-4 col-sm-offset-8">
                        <a class='btn btn-block btn-danger' href="{%  url 'compose' message.sender.id %}">Reply</a>
                    </div>
                {% endif %}
            </div>
            {% elif denied %}
                <h4 class="text-center">You cannot read someone else's messages ;)</h4>
            {% elif deleted %}
                <h4 class="text-center">Sorry, this message was already deleted!</h4>
            {% else %}
                <h4 class="text-center">There is no such message</h4>
            {% endif %}
		</div>
        </div>
    </div>
{% endblock %}