{% extends 'base.html' %}

{% block content %}
<div class="container">

    <div class="row" style="margin-top: 1em">
        <div class="col-sm-3 col-md-2">
            <ul class="nav nav-pills nav-stacked" style="margin-bottom: 1em;">
                <li><a href="{% url 'inbox' %}">Inbox </a></li>
                <li class="active"><a href="{% url 'outbox' %}"><span class="badge pull-right">{{ messages_sent|length}}</span>Sent</a></li>
            </ul>
        </div>
        <div class="col-sm-9 col-md-10">
            <div class="tab-content">
                <div class="tab-pane fade in active" id="home">
                    <div class="list-group">
                        {% for message in messages_sent %}
                        <a href="{% url 'message' message.id %}" class="list-group-item">
                            <span class="name" style="min-width: 120px; display: inline-block;">{{ message.recipient.username }}</span>
                            <span class="">{{ message.subject }}</span>
                            <span class="text-muted" style="font-size: 11px;">- More content here</span>
                            <span class="badge">{{ message.sent_time|date:'Y-m-d' }}</span>
                            <div style="clear: both"></div>
                        </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}