
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="/static/js/qrcode.min.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1">

<style>
.qrcode img {
  width: 50px;
  height: 50px;
    margin: 0 auto;
}
.qrcode {
    text-align: center;
    margin: 0 auto;
}

.centered .title {
    text-align: center;
    font-size: 24px;
}

.space-top {
    margin-top: 20px;
}

</style>

<body>

    <div class="col-xs-12 space-top">
          <div class="qrcode" style="width: 50px; height: 50px" id='qr_code_{{ object.unique_identifier }}'></div>
        <script>new QRCode(document.getElementById("qr_code_{{ object.unique_identifier }}"), "{{ object.unique_identifier }}");</script>
    </div>

    <div class="row">
        <div class="col-xs-12 centered"><div class="title">{{object.short_description}}</div></div>
    </div>

    <hr/>

    {% if log|length == 0 %}
        <div class="row">
            <div class="col-xs-12 centered">Sorry no log entries available</div>
        </div>
    {% else %}
        <div class="row">
            <div class="col-xs-6 col-xs-offset-3 centered">
                <ul class="list-group">
                {% for entry in log %}
                    <li class="list-group-item active">
                        <h4 class="list-group-item-heading">{{ entry.file_date }}</h4>
                        <p class="list-group-item-text">{{ entry.content }}</p>
                    </li>
                {% endfor %}
                </ul>
            </div>
        </div>
    {% endif %}

</body>