{%  extends 'base.html' %}


{% block content %}


<style>
.qrcode img {
  width: 50px;
  height: 50px;
    margin: 0 auto;
}
.qrcode {
    text-align: center;
    margin: 0 auto;
}

.centered .title {
    text-align: center;
    font-size: 24px;
}

.space-top {
    margin-top: 20px;
}

</style>

<body>

    <div class="col-xs-12 space-top">
          <div class="qrcode" style="width: 50px; height: 50px" id='qr_code_{{ object.unique_identifier }}'></div>
        <script>new QRCode(document.getElementById("qr_code_{{ object.unique_identifier }}"), "{{ object.unique_identifier }}");</script>
    </div>

    <div class="row">
        <div class="col-xs-12 centered">
            <div class="title">
                <span >Title: </span>{{object.title}}
            </div>
        </div>
        <div class="col-xs-12 centered">
            <div class="title">
                <span >Description:</span>
                {{object.description}}
            </div>
        </div>
        <div class="col-xs-12 centered">
            <div class="title">
                <span >Entered by:</span>
                {{object.entered_by}}
            </div>
        </div>
        <div class="col-xs-12 centered">
            <div class="title">
                <span >Transportable:</span>
                {{object.transport}}
            </div>
        </div>
    </div>
</body>

{% endblock %}