{%  extends 'base.html' %}

{% block header %}
    {% include 'plugins/jqcloud.html' %}
    <script src="/static/js/plugins/cloudy.js"></script>
    <link href="/static/css/plugins/cloudy.css" rel="stylesheet">
{% endblock %}

{% block content %}

<style>

.table td, .table th{
   text-align: center;
}
.table th {
    border-bottom: 1px solid #aaa;
}

.glyphicon:hover {
    cursor: default;
}

.odd td {
    background-color: #ccc !important;
}
</style>

{% csrf_token %}
<div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-10">
    <table class="table">
        <tr>
            <th>Details</th>
            <th>Registration date</th>
            <th>Title</th>
            <th>Info Tags</th>
            <th>Identifier</th>
            <th>QR code</th>
        </tr>
        {% for object in objects %}
            <tr class="active {% if forloop.counter|divisibleby:2 %}odd{% else %}even{% endif %}">
                <td><a class="btn btn-default glyphicon glyphicon-list-alt" href="/inventory/details/{{ object.unique_identifier}}"></a></td>
                <td>{{ object.registration_date }}</td>
                <td>{{ object.title }}</td>
                <td>
                    {% if not object.transport %}
                        <div class="glyphicon glyphicon-lock" data-toggle="tooltip" title="The object cannot be moved!"></div>
                    {% endif %}
                    <div class="glyphicon glyphicon-tags" data-toggle="tooltip" title="The object has been tagged!"></div>
                </td>
                <td><div class="btn btn-default glyphicon glyphicon-user"></div></td>
                <td><div class="btn btn-default glyphicon glyphicon-qrcode"></div></td>
            </tr>
        {% endfor %}
    </table>
    </div>
    <div class="col-sm-1"></div>
 </div>
<div class="row">
    <div class="col-sm-10"></div>
    <a href="/inventory/object"><button class="col-sm-1 btn btn-success" >Create</button></a>
</div>

<script>
    $(document).ready(function(){
        $('#inventory-tab').addClass('active');
        $('#inventory-list').addClass('active');
            $('[data-toggle="tooltip"]').tooltip();
    });
</script>

    {% include 'plugins/cloudy.html' %}
{% endblock %}