{%  extends 'base.html' %}

{% block header %}
    {% include 'plugins/jqcloud.html' %}
    <script src="/static/js/plugins/cloudy.js"></script>
    <link href="/static/css/plugins/cloudy.css" rel="stylesheet">
{% endblock %}

{% block content %}

<style>

.heading {
   text-align: center;
    font-weight: bold;
}

.entry {
    text-align: center;
    vertical-align: middle;
}

.glyphicon:hover {
    cursor: default;
}

.odd {
    background-color: #ccc !important;
}

.btn.glyphicon:hover {
    cursor: pointer;
}

.glyphicon-user:hover {
    cursor: pointer;
}
</style>

{% csrf_token %}
<div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-10">
        <div class="row" style="border-bottom: 2px solid #555">
            <div class="col-xs-2 heading">Details</div>
            <div class="col-xs-3 heading">Registration date</div>
            <div class="col-xs-3 heading">Title</div>
            <div class="col-xs-2 heading">Info Tags</div>
            <div class="col-xs-2 heading">Added by</div>
        </div>
        {% for object in objects %}
            <div class="row {% if forloop.counter|divisibleby:2 %}odd{% else %}even{% endif %}">
                <div class="col-xs-2 entry"><a class="btn btn-sm btn-default glyphicon glyphicon-list-alt" href="/inventory/details/{{ object.unique_identifier}}"></a></div>
                <div class="col-xs-3 entry">{{ object.registration_date }}</div>
                <div class="col-xs-3 entry">{{ object.title }}</div>
                <div class="col-xs-2 entry">
                    {% if not object.transport %}
                        <div class="glyphicon glyphicon-lock" data-toggle="tooltip" title="The object cannot be moved!"></div>
                    {% endif %}
                    <div class="glyphicon glyphicon-tags" data-toggle="tooltip" title="The object has been tagged!"></div>
                </div>
                <div class="col-xs-2 entry"><a href="/profile/user/{{ object.entered_by.id }}" class="glyphicon glyphicon-user"></a> </div>
            </div>
        {% endfor %}
    </div>
    <div class="col-sm-1"></div>
 </div>
<div class="row" style="margin-top: 1em; margin-bottom: 1em">
        <a href="/inventory/object"><button class="col-xs-offset-3 col-xs-6 col-sm-3 col-sm-offset-8 btn col-md-2 col-md-offset-9 btn-success" >Create</button></a>
</div>

<script>
    $(document).ready(function(){
        $('#inventory-tab').addClass('active');
        $('#inventory-list').addClass('active');
            $('[data-toggle="tooltip"]').tooltip();
    });
</script>

    {% include 'plugins/cloudy.html' %}
{% endblock %}