{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="row" style="margin-top: 1em">
            <p class="col-xs-12 col-md-6 col-md-offset-3" style="font-size: 24px; font-weight: bold">RBE Connection</p>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-6 col-md-offset-3">
                <p>This page is currently completely independent from any of the following listed associations.
                    It tries to connect people who consider themselves advocates for one or more of those organizations
                    and simply
                    shall be a better tool to coordinate actions.</p>

                <p>
                    It is an invite based system which means that you need to be invited by someone who is already part
                    of the network.
                    The reason for that is to ensure that people are familiar with the concept and ideas in a reasonable
                    way.
                    There is of course no precise definition of that and every member can define for themselves what is
                    a
                    sufficient level to invite someone. More details and suggestions are given once you are going to
                    invite someone.
                </p>

                <p>
                    If you are interested in joining please contact me at <b>rbe DOT heleska [at] gmail DOT com</b>.
                </p>

                <p>
                    As to my current knowledge the following associations serve an inspiration and concrete concepts for
                    change and
                    instead of listing any special claims ourselves we simply point to those sources in order for you to
                    learn more
                    about them.
                </p>

                <p>
                    Robert
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-6 col-md-offset-3">
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-6 col-md-offset-3">
                <div class="row">
                    <a target="_blank" href="https://www.thevenusproject.com"><img class="col-xs-12 col-md-6"
                                                                                   src="/static/img/tvp.jpg"></a>
                    <a target="_blank" href="http://www.thezeitgeistmovement.com"><img class="col-xs-12 col-md-6"
                                                                                       src="/static/img/tzm.jpg"></a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-6 col-md-offset-3">
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-6 col-md-offset-3">
                <p>
                    Another good point to visit for additional information is this
                    <a target="_blank" href="https://www.facebook.com/groups/940712199334150/">facebook group</a>
                </p>
            </div>
        </div>

    </div>
{% endblock %}
