{% extends 'emails/base_email.html' %}
{% block content %}
Hey {{ username }},<br>
<br>
this is an password reset to the RBE Connect.<br>
<br>
If you did not expect this email please just discard it, it was probably a typo.<br>
<br>
Otherwise you can get to the password reset page following the link to:<br>
<a href="https://rbe.heleska.de/core/chpw/{{ reset_key }}">https://rbe.heleska.de/core/chpw/{{ reset_key }}</a><br>
<br>
The link will be valid until: {{ valid_until }}<br>
<br>
Kind regards
{% endblock %}