{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="row" style="margin-top: 1em">
            <p class="col-xs-12 col-md-6 col-md-offset-3" style="font-size: 24px; font-weight: bold">Developer Info</p>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-6 col-md-offset-3">
                <p>If you are a software developer you might want to contribute to either
                     <b>RBE Connect</b> or have other ideas on software that can improve the community
                    of people advocating an RBE.
                </p>
                <p>To support <b>RBE Connect</b> project you can find it on <a href="https://github.com/sheepsy90/django-rbe-inventory"><span class="fa fa-github"></span> Github</a> and contact me there.
                    The programming language is python with the django web framework.</p>
                <p>
                    If you plan to build other tools it could be beneficiary to integrate those
                    via OpenId. This allows users to authenticate via this page and you will
                    easily get the users profile information, location data and entered skills.
                    This page basically works as a database of people which provide certain
                    datapoints which can be build upon in other applications.
                </p>
                <p>
                    An example project on how to integrate with <b>RBE Connect</b> will be soon
                    available on github as well.
                </p>
                <p>
                    Robert
                </p>
            </div>
        </div>
    </div>
{% endblock %}
