{% load static %}
{% get_static_prefix as STATIC_PREFIX %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no" name="viewport">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>RBE Connect</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <link href="/static/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href='/static/css/navigation.css'>
    <script src="/static/js/qrcode.min.js"></script>
    <script src="/static/js/global.js"></script>

    <script src="https://cdn.jsdelivr.net/sweetalert2/2.2.6/sweetalert2.min.js"></script>
    <link rel="stylesheet" type="text/css" href='https://cdn.jsdelivr.net/sweetalert2/2.2.6/sweetalert2.min.css'>

    {% block header %}{% endblock %}
</head>


<body style="margin-bottom: 2em">
<div id="header">
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                {% if user.is_authenticated %}
                    <button type="button" class="navbar-toggle" data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                {% else %}
                    <a href="{% url 'information' %}">
                        <button type="button" class="navbar-toggle">
                            Info
                        </button>
                    </a>
                {% endif %}
                <a class="navbar-brand" href="{% url 'index' %}">RBE Network</a>
            </div>
            {% if user.is_authenticated %}

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <!--<form class="navbar-form navbar-left" role="search">
                      <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search">
                      </div>
                      <button type="submit" class="btn btn-default">Submit</button>
                    </form>-->
                    <ul class="nav navbar-nav navbar-right">
                        <li id='my-account'><a href="/profile/user/{{ user.id }}">My profile</a></li>
                        <li id='other' class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Other<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li id='user-list'><a href="{% url 'profile-overview' %}">Other Users</a></li>
                                <li id='discover-skills'><a href="{% url 'profile_discover' %}">Discover Skills</a></li>
                                <li id='world-map'><a href="{% url 'profile_map' %}">World Map</a></li>
                                <li id='developer-info'><a href="{% url 'developer_info' %}">Developer Info</a></li>
                                <li class="divider"></li>
                                <li><a href="{% url 'logout' %}">Logout</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            {% else %}
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li id='my-profile'><a href="{% url 'information' %}">Info</a></li>
                    </ul>
                </div>
            {% endif %}

            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    {% csrf_token %}
    {% block content %}{% endblock %}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-61415516-2', 'auto');
      ga('send', 'pageview');
    </script>
</div>

{% include 'url_script.html' %}
</body>

</html>
