{% load static %}
{% get_static_prefix as STATIC_PREFIX %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no" name="viewport">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>RBE Stockholm</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href='/static/css/navigation.css'>
    <script src="/static/js/qrcode.min.js"></script>
    <script src="/static/js/global.js"></script>

    <script src="https://cdn.jsdelivr.net/sweetalert2/2.2.6/sweetalert2.min.js"></script>
    <link rel="stylesheet" type="text/css" href='https://cdn.jsdelivr.net/sweetalert2/2.2.6/sweetalert2.min.css'>

    {% block header %}{% endblock %}
</head>


<body>
<div id="header">
    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'index' %}">RBE Stockholm</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            {%  if user.is_authenticated %}
          <form class="navbar-form navbar-left" role="search">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Search">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
          </form>
          <ul class="nav navbar-nav navbar-right">
            <li  ><a href="#"></a></li>
              <li id="inventory-tab" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Inventory<b class="caret"></b></a>
              <ul class="dropdown-menu">
                  <li id="inventory-list"><a href="{% url 'inventory-list' %}">List View</a></li>
                  <li id="inventory-discover"><a href="{% url 'inventory-discover' %}">Discover</a></li>
                  <li id="inventory-submit"><a href="{% url 'inventory-submit' %}">Submit</a></li>
              </ul>
            </li>

            <li id='my-account' class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">My Account<b class="caret"></b></a>
              <ul class="dropdown-menu">
                  <li id='my-profile'><a href="{% url 'profile-example' %}">Profile</a></li>
                  <li class="divider"></li>
                  <li><a href="{% url 'logout' %}">Logout</a></li>
              </ul>
            </li>
          </ul>
            {% endif %}
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    {% csrf_token %}
    {% block content %}{% endblock %}
</div>

<script>


</script>
</body>

</html>
