<script>
    $('body').data('URLS', {
        'language_remove': '{% url "language_remove" %}',
        'language_add': '{% url "language_add" %}',
        'language_overview': '{% url "language_overview" '' %}',
        'language_level_change': '{% url "language_level_change" %}',
        'profile_avatar_upload': '{% url "profile_avatar_upload" %}',
        'profile_avatar_delete': '{% url "profile_avatar_delete" %}',
        'suggest_close_by': '{% url "suggest_close_by" %}',
        'phrase_details': '{% url "phrase_details" '' %}',
        'create_skill': '{% url "create_skill" %}',
        'up_skill_level': '{% url "up_skill_level" %}',
        'down_skill_level': '{% url "down_skill_level" %}',
        'delete_skill': '{% url "delete_skill" %}',
        'search_skill': '{% url "search_skill" %}',
        'messaging_confirm_read': '{% url "messaging_confirm_read" %}',
        'associated_service_info': '{% url "associated_service_info" %}',
        'location_trace_back': '{% url "location_trace_back" %}'
    });
</script>