<script>
    $('body').data('URLS', {
        'language_remove': '{% url "language_remove" %}',
        'language_add': '{% url "language_add" %}',
        'language_overview': '{% url "language_overview" '' %}',
        'profile_add_tag': '{% url "profile_add_tag" %}',
        'profile_del_tag': '{% url "profile_del_tag" %}',
        'profile_avatar_upload': '{% url "profile_avatar_upload" %}',
        'update_location': '{% url "update_location" %}',
        'clear_location': '{% url "clear_location" %}',
        'suggest_close_by': '{% url "suggest_close_by" %}',
        'message-delete': '{% url "message-delete" %}'
    });
</script>