{% extends 'base.html' %}
{% load static %}
{% get_static_prefix as STATIC_PREFIX %}

{% block header %}{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div id="demoMap" style="height:100%"></div>
    </div>
</div>

<script src="/static/js/OpenLayers.js"></script>
<script>

    $(document).ready(function(){
        var map = new OpenLayers.Map("demoMap");
        map.addLayer(new OpenLayers.Layer.OSM());

        var markers = new OpenLayers.Layer.Markers( "Markers" );
        map.addLayer(markers);


        $('body').data('map', map);
        $('body').data('markers', markers);

        {% for location in locations %}
            mark_on_map({{ location.user.id }}, {{ location.display_longitude }}, {{ location.display_latitude }}, false);
        {% endfor %}

        {% if user.location.position_updated %}
            mark_on_map({{ user.id }}, {{ user.location.display_longitude }}, {{ user.location.display_latitude }}, true);
        {% else %}
            mark_on_map({{ user.id }}, 0 , 0, true);
        {% endif %}

    });


    function mark_on_map(user_id, lon, lat, centering){
        var fromProjection = new OpenLayers.Projection("EPSG:4326");   // Transform from WGS 1984
        var toProjection   = new OpenLayers.Projection("EPSG:900913"); // to Spherical Mercator Projection
        var position = new OpenLayers.LonLat(lon, lat).transform(fromProjection, toProjection);

        var marker = new OpenLayers.Marker(position);


        marker.events.register('mouseover', marker, function(evt) {
            $(evt.target).css('cursor', 'pointer')
        });

        marker.events.register('click', marker, function(evt) {
            window.location = '/profile/user/' + user_id;
        });

        $('body').data('markers').addMarker(marker);

        if (centering){
            $('body').data('map').setCenter(position, 4);
        }
    }

</script>

{% endblock %}