  span.tags:hover {
                cursor: pointer;
                background-color: indianred;
             }

              .card .avatar img:hover {
                cursor: pointer;
                border-color: darkseagreen;

              }