.bg-primary-0 {
  background-color: #328a2e; }

.bg-primary-1 {
  background-color: #8dcf8a; }

.bg-primary-2 {
  background-color: #5aac56; }

.bg-primary-3 {
  background-color: #156711; }

.bg-primary-4 {
  background-color: #034500; }

.fg-black {
  color: black; }

#header .navbar {
  border-radius: 0;
  border: none;
  margin-bottom: 0; }
#header nav {
  background: #8dcf8a; }
  #header nav a {
    color: #034500;
    font-weight: bold; }
  #header nav .navbar-brand {
    font-size: 16px;
    vertical-align: middle; }
  #header nav .dropdown-menu {
    background-color: #8dcf8a; }
  #header nav .open a {
    background-color: #8dcf8a; }
